@page "/printreceipt"

@using Microsoft.JSInterop

<h1>Print Receipt Example</h1>

<div class="invoice-box" id="receiptContent" @ref="receiptContentRef">
	<table cellpadding="0" cellspacing="0">
		<tr class="top">
			<td colspan="2">
				<table>
					<tr>
						<td class="title">
							<img src="#" style="width:100%; max-width:300px;">
						</td>

						<td>
							Invoice #: 1234<br>
							Created: 2024-06-02<br>
							Due: 2024-06-02
						</td>
					</tr>
				</table>
			</td>
		</tr>

		<tr class="information">
			<td colspan="2">
				<table>
					<tr>
						<td>
							Company Name<br>
							CompanyAddress<br>
							City, Country ,PinCode
							Email
						</td>

						<td>
							BillingAddressName<br>
							BillingAddress<br>
                            City, Country, PinCode
							Email
						</td>
					</tr>
				</table>
			</td>
		</tr>

		<tr class="heading">
			<td>
				Payment Method
			</td>

			<td>
				Reference No #
			</td>
		</tr>

		<tr class="details">
			<td>
				PaymentMethodName
			</td>

			<td>
				ReferenceNumber
			</td>
		</tr>
		<tr class="heading">
			<td>
				Item
			</td>
			<td>
				Quantity
			</td>
			<td>
				Price Per Item
			</td>
			<td>
				Price
			</td>
		</tr>

		<tr class="details">
				<td>
					ItemName
				</td>

				<td>
			        Quantity
				</td>
				<td>
					PricePerItem
				</td>
				<td>
					TotalPrice
				</td>
			</tr>
		

		<tr class="total">
			<td></td>

			<td>
				Total: $200 
			</td>
		</tr>
	</table>
</div>

<button class="btn btn-primary" @onclick="PrintReceiptAsync">Print Receipt</button>
<style>
	.invoice-box {
		max-width: 800px;
		margin: auto;
		padding: 30px;
		border: 1px solid #eee;
		box-shadow: 0 0 10px rgba(0, 0, 0, .15);
		font-size: 16px;
		line-height: 24px;
		font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
		color: #555;
	}

		.invoice-box table {
			width: 100%;
			line-height: inherit;
			text-align: left;
		}

			.invoice-box table td {
				padding: 5px;
				vertical-align: top;
			}

			.invoice-box table tr td:nth-child(2) {
				text-align: right;
			}

			.invoice-box table tr.top table td {
				padding-bottom: 20px;
			}

				.invoice-box table tr.top table td.title {
					font-size: 45px;
					line-height: 45px;
					color: #333;
				}

			.invoice-box table tr.information table td {
				padding-bottom: 40px;
			}

			.invoice-box table tr.heading td {
				background: #eee;
				border-bottom: 1px solid #ddd;
				font-weight: bold;
			}

			.invoice-box table tr.details td {
				padding-bottom: 20px;
			}

			.invoice-box table tr.item td {
				border-bottom: 1px solid #eee;
			}

			.invoice-box table tr.item.last td {
				border-bottom: none;
			}

			.invoice-box table tr.total td:nth-child(2) {
				border-top: 2px solid #eee;
				font-weight: bold;
			}

	@@media only screen and (max-width: 600px) {
		.invoice-box table tr.top table td {
			width: 100%;
			display: block;
			text-align: center;
		}

		.invoice-box table tr.information table td {
			width: 100%;
			display: block;
			text-align: center;
		}
	}

	/** RTL **/
	.rtl {
		direction: rtl;
		font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
	}

		.rtl table {
			text-align: right;
		}

			.rtl table tr td:nth-child(2) {
				text-align: left;
			}
</style>
@code {
    [Inject]
    private IJSRuntime JS { get; set; }
    private ElementReference receiptContentRef;


    private async Task PrintReceiptAsync()
    {
		await JS.InvokeVoidAsync("blazorSetInnerHTML", receiptContentRef);

		await JS.InvokeVoidAsync("window.print");
        

    }

}
<script>
	window.blazorSetInnerHTML = function (id, html) {
		window.addEventListener("load", function () {
			document.getElementById(id).innerHTML = html;
			window.print();
		});
	};
</script>
